# Veyra Frontend Environment Variables

# API
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# WebAuthn
NEXT_PUBLIC_RP_ID=localhost
NEXT_PUBLIC_RP_NAME=Veyra

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development
